@model ASP_201.Models.User.RegistrationModel
@using ASP_201.Models.User
@{
    ViewData["Title"] = "Реєстрація";
}

<div>
    <h1 class="display-4">Реєстрація нового користувача</h1>
</div>

<form method="post" asp-controller="User" asp-action="Register" >
    <div class="form-group">
        <label asp-for="Login">Логін</label>
        <input type="text" asp-for="Login" 
               class="form-control" placeholder="Виберіть собі логін" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input type="password" asp-for="Password"
               class="form-control" placeholder="Введіть ваш пароль" />
    </div>
    <div class="form-group">
        <label asp-for="RepeatPassword">Підтвердження паролю</label>
        <input type="password" asp-for="RepeatPassword"
               class="form-control" placeholder="Повторіть ваш пароль">
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="email" asp-for="Email"
               class="form-control" placeholder="Введіть ваш E-mail" />
        <small id="emailHelp" class="form-text text-muted">Без вашої згоди адреса не буде показуватись іншим користувачам.</small>
    </div>
    <div class="form-group">
        <label asp-for="RealName">Реальне ім'я</label>
        <input type="text" asp-for="RealName"
               class="form-control" placeholder="Введіть ваше реальне ім'я" />
        <small id="realNameHelp" class="form-text text-muted">Без вашої згоди ім'я не буде показуватись іншим користувачам.</small>
    </div>
    <div class="form-check">
        <input type="checkbox" asp-for="IsAgree"
               class="form-check-input" />
        <label class="form-check-label" asp-for="IsAgree">Погоджуюсь слідувати правилам сайту</label>
    </div>
    <button type="submit" class="btn btn-primary">Реєстрація</button>
</form>

@if (ViewData["registrationModel"] is RegistrationModel registrationModel)
{
    // була передача даних
    <p>
        Передані дані<br/>
        @registrationModel.Login <br />
        @registrationModel.Password <br />
        @registrationModel.RepeatPassword <br />
        @registrationModel.Email <br />
        @registrationModel.RealName <br />
    </p>
}

<hr/>
<h2>Щодо HTML форм</h2>
<p>
    Що таке форма?
    Це засіб HTML/браузера відправляти дані. Форму можна вважати розширенням поняття
    "посилання", яке окрім переходу на задану адресу також пересилає на неї дані 
    (долучає дані до запиту, що формується на цю адресу). Відправлення форми, як і
    перехід за посиланням, руйнує дану сторінку і створює нову з відповіді на запит.
</p>
<p>
    Форма обмежується тегом &lt;form>, на сторінці можут бути довільна кількість форм,
    кожна форма включає у запит тількі ті дані, що належать її контенту (між
    відкритим та закритим тегами). Кожна форма має свою адресу відправлення, тобто
    різні форми можуть посилатись на різні адреси.
</p>
<p>
    Спосіб передачі параметрів визначається з атрибутів форми:<br/>
    <b>method</b>: get (default) або post<br />
    <b>enctype</b>: application/x-www-form-urlencoded (default) або multipart/form-data<br />
    method - один з двох методів НТТР запиту (згідно зі стандартом https://www.rfc-editor.org/rfc/rfc7231#page-22)
    З точки зору форм, метод регулює спосіб включення даних до НТТР-пакету:<br />
    GET : ...?Login=anon&Password=123&...<br />
    дані включаються безпосередньо в URL, утворюючи секцію "query" (параметрів запиту)<br />
    POST : такі саме дані (?Login=anon&Password=123&...) включаються у тіло запиту.
    У складі URL вони не відображаються, для їх аналізу слід відкрити інструмент
    "Network" у консолі браузера, сфокусуватись на даний запит та відкрити таб 
    "Payload"<br />
</p>
<p>
    Як вибрати метод форми?<br />
    GET - коли передаються невеликі дані, що не мають секретності.
    Головна перевага - є можливість створити постійне посилання із певними даними.<br />
    POST - вважається більш захищеним (насправді лише від зовнішнього погляду),
    Головна перевага - можливість передавання великих данних, у т.ч. файлів
</p>