@model ASP_201.Models.Forum.ForumSectionViewModel

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="@Model.LogoUrl" class="img-fluid rounded-start" alt="Logo">
        </div>
        <div class="col-md-10 d-flex flex-column">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
                Розпочато: @Model.CreatedDtString
                Автор: <img src="@Model.AuthorAvatarUrl" style="max-width:50px; max-height:50px" alt="Avatar"/>
                @Model.AuthorName
                <a href="#!">Перейти</a>
            </div>
        </div>
    </div>
</div>