@model ASP_201.Models.Forum.ForumIndexModel
@{
    ViewData["Title"] = "Forum";
}

<div>
    <h1 class="display-4">Форум</h1>
</div>

@foreach(var Section in Model.Sections)
{
    <p>@Section.Title</p>
}

@if(Model.UserCanCreate)
{
    <div class="row">
        <div class="col col-6">
            <h5>Створити новий розділ</h5>
            @if(Model.CreateMessage is not null)
            {
                <h6><strong style='color: @(Model.IsMessagePositive==true?"green":"red")'>
                    @Model.CreateMessage
                </strong></h6>
            }
            <form method="post" asp-action="CreateSection">
                <div class="form-group">
                    <label for="section-title">Назва</label>
                    <input type="text" id="section-title"
                           name="section-title"
                           class="form-control"
                           value="@(Model.FormModel is null?"":Model.FormModel.Title)"
                           placeholder="Введіть назву розділу" />
                </div>
                <div class="form-group">
                    <label for="section-description" 
                           class="form-label">Опис</label>
                    <textarea class="form-control" rows="3"
                              id="section-description"
                              name="section-description"
                              placeholder="Введіть опис розділу">@(Model.FormModel is null ? "" : Model.FormModel.Description)</textarea>
                </div>
                <button class="btn btn-light my-3" type="submit">Створити</button>
            </form>
        </div>
    </div>
}